:root {
    --bgColor1: #00a2ff;
    --bgColor2: #ffffff;
    --bgColor3: #dae6ec;
}
@font-face {
    font-family: Roboto;
    src: url(./resources/roboto/Roboto-Regular.ttf);
}
ul {
    list-style: none;
    padding-left: 0;
}

.icon, .actions img {
    height: 30px;
    width: auto;
}

body, body > *, .header > *, .main > * {
    display: grid;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    grid-template: 1fr 5fr / 1fr 4fr;
    font-family: Roboto;
}

.title, .main > * > p:first-child {
    font-weight: bold;
}

.sidebar, .header {
    font-weight: bold;
}

.sidebar {
    padding-left: 40px;
    padding-top: 10px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--bgColor1);
    grid-template-rows: 75px 315px 185px;
    font-size: 20px;
    color: var(--bgColor2);
}

.dashboard, .nav-bar1 li, .nav-bar2 li {
    display: grid;
    align-items: center;
}

.dashboard {
    font-size: 30px;
    grid-template-columns: 1fr 4fr;
    align-content: center;
}

.dashboard .icon {
    height: 50px;
    width: auto;
}

.nav-bar1 li, .nav-bar2 li {
    height: 45px;
    grid-template-columns: 1fr 5fr;
    align-content: center;
}

.profile {
    border-radius: 100%;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--bgColor2);
    grid-template: 1fr 2fr / 1.75fr 1fr;
    padding: 15px 50px;
    column-gap: 20px;
}

.header > * {
    align-items: center;
}

.search {
    grid-template-columns: 1fr 15fr;
}

.search input {
    height: 25px;
    width: 97%;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--bgColor2);
    background-color: var(--bgColor3);
}

.user-info {
    grid-template-columns: 30px 50px 1fr; 
    padding-left: 25%;
    column-gap: 30px;
}

.user-info .profile {
    height: auto;
    width: 50px;
}

.user-info p {
    min-width: 150px;
}

.welcome-message {
    padding: 15px;
    grid-template: repeat(2, 30px) / 1fr 7fr;
    align-content: center;
}

.welcome-message .profile {
    grid-row: 1 / 3;
    height: auto;
    width: 75px;
}

.welcome-message p:first-of-type {
    font-size: 15px;
}

.welcome-message p:last-of-type {
    font-size: 20px;
}

.buttons {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--bgColor3);
    grid-template: repeat(2, 1fr) / 2fr 1fr;
}

.projects {
    grid-row: 1 / 3;
    grid-template: 1fr repeat(3, 4fr) / repeat(2, 1fr);
}

.projects > p {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.announcements, .trending {
    grid-template-rows: 1fr 10fr;
}

.account-list > li {
    display: grid;
    grid-template-columns: 1fr 3fr;
}